apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  namespace: fiap-soat11
spec:
  type: ClusterIP
  ports:
  - port: 5672
    targetPort: 5672
    name: amqp
  - port: 15672
    targetPort: 15672
    name: management
  selector:
    app: rabbitmq
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-management
  namespace: fiap-soat11
spec:
  type: LoadBalancer
  ports:
  - port: 15672
    targetPort: 15672
    name: management
  selector:
    app: rabbitmq
