name: Destruir Infraestrutura AWS
on:
    workflow_dispatch:
jobs:
    destroy:
        runs-on: ubuntu-latest
        steps:
          - name: Baixando arquivos do repo
            uses: actions/checkout@v4
          - name: Aws Credentials
            uses: aws-actions/configure-aws-credentials@v4
            with:
              aws-access-key-id: ${{ vars.AWS_ACCESS_KEY_ID }}
              aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
              aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
              aws-region: ${{ vars.AWS_REGION }}  
          - name: Credentials
            run: aws sts get-caller-identity
          - name: Configurando Terraform
            uses: hashicorp/setup-terraform@v3
          #- name: Ativar Debug Terraform
          #  run: echo "TF_LOG=DEBUG" >> $GITHUB_ENV
          - name: Carregar Kube Config
            run: |
              aws eks update-kubeconfig \
              --name ${{ vars.CLUSTER_NAME }} \
              --region ${{ vars.AWS_REGION }}                
          - name: Get Service LB usuario
            id: get_lb_usuario
            run: |
              for i in {1..10}; do
                LB=$(kubectl get svc fiap-svc-usuario -n fiap-soat11 -o jsonpath='{.status.loadBalancer.ingress[0].hostname}')
                if [ -n "$LB" ] && [ "$LB" != "<none>" ]; then
                  echo "LoadBalancer hostname found: $LB"
                  echo "::set-output name=lb_usuario::$LB"
                  exit 0
                else
                  echo "Attempt $i: LoadBalancer hostname not available yet. Retrying in 30 seconds..."
                  sleep 30
                fi
              done
              echo "Failed to get LoadBalancer hostname after 10 attempts."
              exit 1
            continue-on-error: true
          - name: Get Service LB video
            id: get_lb_video
            run: |
                for i in {1..10}; do
                  LB=$(kubectl get svc fiap-svc-video -n fiap-soat11 -o jsonpath='{.status.loadBalancer.ingress[0].hostname}')
                  if [ -n "$LB" ] && [ "$LB" != "<none>" ]; then
                    echo "LoadBalancer hostname found: $LB"
                    echo "::set-output name=lb_video::$LB"
                    exit 0
                  else
                    echo "Attempt $i: LoadBalancer hostname not available yet. Retrying in 30 seconds..."
                    sleep 30
                  fi
                done
                echo "Failed to get LoadBalancer hostname after 10 attempts."
                exit 1
            continue-on-error: true
          - name: Terraform Init
            run: terraform init -input=false
          - name: Terraform Format
            run: terraform fmt -check
          - name: Terraform Validate
            run: terraform validate
          - name: Terraform Destroy
            run: terraform destroy -target=module.eks -var="dns_eks_usuario=${{ steps.get_lb_usuario.outputs.lb_usuario }}" -var="dns_eks_video=${{ steps.get_lb_video.outputs.lb_video }}" -auto-approve
          - name: Terraform Destroy Database              
            run: terraform destroy -target=module.database -auto-approve
          - name: Terraform Destroy S3
            run: terraform destroy -target=module.s3_bucket -auto-approve
          - name: Terraform Destroy SQS
            run: terraform destroy -target=module.sqs -auto-approve
          